name: elaralumaoyun
description: Elaraluma oyununun Flutter versiyonu (taşınmış UI bileşenleri)
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  table_calendar: ^3.1.2
  google_mobile_ads: ^5.1.0
  audioplayers: ^6.1.0
  shared_preferences: ^2.2.2
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/sounds/
